.vscode/
.github/
.idea/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
checkpoints/*.pth
datasets/*
model_weights/*
sam2_logs/
results/
/sav_dataset/example/
